body {
    background-image: url('https://images.pexels.com/photos/13669701/pexels-photo-13669701.jpeg'), 
                      url('https://images.pexels.com/photos/2042202/pexels-photo-2042202.jpeg'), 
                      url('https://images.pexels.com/photos/2832469/pexels-photo-2832469.jpeg'), 
                      url('https://images.pexels.com/photos/3559753/pexels-photo-3559753.jpeg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.6); /* Görsellerin üzerine koyu bir renk ekler */
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    position: relative;
    z-index: 1;
    color: white;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #b3b3b3;
    margin-bottom: 30px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Responsive tasarım */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        padding: 12px 24px;
    }
}
